<h1><%= controller.type.capitalize %> - Sign Up</h1>
<p>New User? Create an account in minutes!</p>
<br>
<%=
    form_with(
        model: @user,
        scope: :user,
        url: new_user_path()
    ) do |form|
%>
    <div>
        <div><%= form.label(:email, "Email") %></div>
        <%= form.email_field(:email) %>
    </div>
    <div>
        <div><%= form.label(:given_name, "Given Name") %></div>
        <%= form.text_field(:given_name) %>
    </div>
    <div>
        <div><%= form.label(:middle_name, "Middle Name") %></div>
        <%= form.text_field(:middle_name) %>
    </div>
    <div>
        <div><%= form.label(:family_name, "Family Name") %></div>
        <%= form.text_field(:family_name) %>
    </div>
    <div>
        <div><%= form.label(:password, "Password") %></div>
        <%= form.password_field(:password) %>
    </div>
    <div>
        <div><%= form.label(:password_confirmation, "Password Confirmation") %></div>
        <%= form.password_field(:password_confirmation) %>
    </div>
    <%= form.submit("Submit") %>
<% end %>
<%= render("partials/messages", messages: flash[:messages]) %>